/*
 * Palette: #FFFFFF, #D4D4D4, #474545, #5FBA88, #B0566D, #5F75BA
 */
section.generator {
  height: 650px;
  background: url("assets/img/skyline.jpg");
  background-size: 1800px auto; }

section.generator > div {
  text-align: center; }

section.generator .password {
  margin: 150px auto 0 auto;
  text-align: center; }

section.generator .password span {
  display: inline-block;
  font-family: "BebasNeueRegular", "sans-serif";
  font-size: 6em;
  color: #fff;
  position: relative; }

section.generator .password span:before {
  content: '';
  position: absolute;
  bottom: 5px;
  width: 100%;
  border-bottom: 5px solid; }

section.generator .password span:nth-child(1):before {
  border-color: #D4D4D4; }

section.generator .password span:nth-child(2):before {
  border-color: #5FBA88; }

section.generator .password span:nth-child(3):before {
  border-color: #B0566D; }

section.generator .password span:nth-child(4):before {
  border-color: #5F75BA; }

section.generator > .actions {
  margin-top: 50px; }

section.generator > .actions .regenerate {
  padding: 10px;
  border: none;
  border-radius: 3px;
  outline: none;
  font-size: 1em;
  background: #474545;
  color: #FFFFFF;
  cursor: pointer;
  transition: background 0.2s linear; }

section.generator > .actions .regenerate:hover {
  background-color: #4F4F4F; }

section.generator > .actions .regenerate i {
  background-color: #4F4F4F;
  -webkit-animation: spin 10s infinite linear;
  -moz-animation: spin 10s infinite linear;
  -o-animation: spin 10s infinite linear;
  animation: spin 10s infinite linear; }

section.generator > .actions .regenerate i {
  margin-left: 0.5em;
  color: #5FBA88; }

/* Stats */
section.stats h1 {
  font-size: 5em;
  font-family: "BebasNeueRegular", "sans-serif";
  font-weight: normal; }

section.stats h2 {
  margin-bottom: 0.2em;
  font-size: 2.2em;
  font-family: "BebasNeueRegular", "sans-serif";
  font-weight: normal; }

section.stats .explanation {
  color: #D4D4D4; }

section.stats table {
  margin: 0 auto 2em auto; }

section.stats table td {
  width: 19em;
  padding: 0.3em 0.6em;
  vertical-align: top;
  box-sizing: border-box;
  -moz-box-sizing: border-box; }

section.stats table td:first-child {
  text-align: right; }

section.stats table td:last-child {
  border-left: 1px solid #D4D4D4;
  text-align: left; }

section.credits p {
  text-align: justify; }

section.credits p a {
  color: #5FBA88; }

@font-face {
  font-family: 'BebasNeueRegular';
  src: url("assets/fonts/bebasneue_regular.woff"); }
body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 1.1em;
  color: #474545; }

section {
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  padding-bottom: 5em;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  overflow: hidden; }

section .text-box {
  width: 38em;
  margin: 0 auto;
  text-align: center; }
