/* Stats */
section.stats h1 {
    font-size: 5em;
    font-family: "BebasNeueRegular", "sans-serif";
    font-weight: normal;
}

section.stats h2 {
    margin-bottom: 0.2em;
    font-size: 2.2em;
    font-family: "BebasNeueRegular", "sans-serif";
    font-weight: normal;
}

section.stats .explanation {
    color: #D4D4D4;
}

section.stats table {
    margin: 0 auto 2em auto;
}

section.stats table td {
    width: 19em;
    padding: 0.3em 0.6em;
    vertical-align: top;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

section.stats table td:first-child {
    text-align: right;
}

section.stats table td:last-child {
    border-left: 1px solid #D4D4D4;
    text-align: left;
}
