section.generator
    .password
        span(ng-repeat='word in password') {{word}}
    .actions
        button.regenerate(ng-click='refreshPassword()')
            | Make a new one
            i.fa.fa-refresh
