section.generator {
    height: 650px;
    background: url('assets/img/skyline.jpg');
    background-size: 1800px auto;
}

section.generator > div {
    text-align: center;
}

section.generator .password {
    margin: 150px auto 0 auto;
    text-align: center;
}

section.generator .password span {
    display: inline-block;
    font-family: "BebasNeueRegular", "sans-serif";
    font-size: 6em;
    color: #fff;
    position: relative;
}

section.generator .password span:before {
    content: '';
    position: absolute;
    bottom: 5px;
    width: 100%;
    border-bottom: 5px solid;
}

section.generator .password span:nth-child(1):before { border-color: #D4D4D4; }
section.generator .password span:nth-child(2):before { border-color: #5FBA88; }
section.generator .password span:nth-child(3):before { border-color: #B0566D; }
section.generator .password span:nth-child(4):before { border-color: #5F75BA; }

section.generator > .actions {
    margin-top: 50px;
}

section.generator > .actions .regenerate {
    padding: 10px;
    border: none;
    border-radius: 3px;
    outline: none;
    font-size: 1em;
    background: #474545;
    color: #FFFFFF;
    cursor: pointer;
    transition: background 0.2s linear;
}

section.generator > .actions .regenerate:hover {
    background-color: #4F4F4F;
}

section.generator > .actions .regenerate i {
    color: #5FBA88;
}
