<div class="text-box">
    <h1>Credits</h1>
    <p>
        This site is a beautification of the algorithm suggested in <a href="http://xkcd.com/936/">xkcd
        936</a>. Skyline image credited to <a href="https://www.flickr.com/photos/stankuns/3772102760">
        Fernando Stankuns</a>. Written by me, Macaully James Muir
        (<a href="https://twitter.com/macaullyjames">twitter</a>,
        <a href="https://github.com/macaullyjamesmuir">github</a>) because heartbleed made me change all
        my passwords.
    </p>
</div>
