section.credits
    .text-box
        h1 Credits
        :markdown
            This site is a beautification of the algorithm suggested in
            [xkcd 936](http://xkcd.com/936/). Skyline image credited to
            [Fernando Stankuns](https://www.flickr.com/photos/stankuns/3772102760).
            Written by me, Macaully James Muir (
            [twitter](https://twitter.com/macaullyjames),
            [github](https://github.com/macaullyjames)
            ) because heartbleed made me change all my passwords.
