/*
 * Palette: #FFFFFF, #D4D4D4, #474545, #5FBA88, #B0566D, #5F75BA
 */

@import 'partials/generator/generator';
@import 'partials/stats/stats';
@import 'partials/credits/credits';

@font-face {
	font-family: 'BebasNeueRegular';
	src: url('assets/fonts/bebasneue_regular.woff');
}

body {
	margin: 0;
	font-family: 'Roboto', sans-serif;
	font-size: 1.1em;
	color: #474545;
}

section {
	width: 100%;
	max-width: 1300px;
	margin: 0 auto;
	padding-bottom: 5em;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	overflow: hidden;
}

section .text-box {
    width: 38em;
    margin: 0 auto;
    text-align: center;
}
